{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
         <p>Hey!, I am Satvik Dhumale, I am currently learning Python Programming. I like to apply what i have learned
         in form of small projects, and this is one of them. I have used bootstrap for the front and end and the flask package
         for routing and login - basically for the back end. Hope You like this website. Thank You.
         </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}